/* General */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Noto Sans', sans-serif;
}
:root {
	--color-primary-color: #23272a;
	--color-secondary-color: #ffffff;
	--color-backgound-odd-color: #f6f6f6;
	--color-header-color: #255ee9;
    --color-disc-button-color: #7289da;
}

.debug{
    border: 1px solid black;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}
ul{
    list-style: none;
}

section{
    background-color: var(--color-secondary-color);
}
section:nth-child(even){
    background-color: var(--color-backgound-odd-color);
}
footer{
    background-color: var(--color-primary-color);
    color: var(--color-secondary-color);
    font-size: 0.8em;
}
li{
    padding: 8px 10px;
}
a, a:hover{
    text-decoration: none;
    color: var(--color-secondary-color);
}
.space-b-flex{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.button, .button:hover{
    border: 1px solid transparent;
    padding: 10px 11px;
    border-radius: 18px;
}
h1{
    font-size: 2.5em;
}
h2{
    font-size: 2.5em;
    font-weight: 900;
    line-height: 1.25;
}
h4{
    font-size: 2em;
    font-weight: 900;
    margin-bottom: 45px;
}
.center{
    justify-content: center;
}
.button.white{
    background-color: var(--color-secondary-color);
    color: var(--color-primary-color);
    font-weight: bold;
    margin-right: 16px;
}
.button.black{
    background-color: var(--color-primary-color);
    color: var(--color-secondary-color);
    font-weight: bold;
    margin-right: 16px;
}
.button.blue{
    background-color: var(--color-disc-button-color);
    color: var(--color-secondary-color);
    font-weight: bold;
    margin-right: 16px;
}
p{
    padding-top: 30px;
    line-height: 1.625;
}
/* header */
header{
    background-color: var(--color-header-color);
    color: var(--color-secondary-color);
    padding-top: 20px;
}
nav > a.button{
    background-color: var(--color-secondary-color);
    color: var(--color-primary-color);
    padding: 8px 12px;
    font-weight: bold;
    font-size: 0.9em;
}
.center > p{
    text-align: center;
    margin-bottom: 15px;
}
#hero-header{
    background-image: url("../img/jumbo.png");
    min-height: 500px;
    background-size: cover;
}
#hero-header > div{
    min-height: 500px;
}
.hero-container{
    max-width: 800px;
    margin: 0 auto;
    padding: 0 10px;
}

/* main */
.space-b-flex-sections{
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 65px;
}
.space-b-flex-sections-reverse{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    padding: 65px;
}
.space-b-flex-sections > div{
    flex-wrap: wrap;
    max-width: 300px;
}
.paragraph{
    font-weight: 600;
}
#last-section{
    padding: 65px;
    padding-bottom: 100px;
}
#last-section-img{
    min-width: 1000px;
}
#last-section > div{
    max-width: 840px;
    text-align: center;
}
#stars{
    max-width: 500px;
    vertical-align: bottom;
}

/* footer */
.space-b-flex-footer{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
}
footer > div.container{
    padding: 40px 0;
}
li > h3{
    color: var(--color-disc-button-color);
    font-size: 2.1em;
    max-width: 200px;
    line-height: 1.25;
}
#ita{
    max-width: 18px;
    margin-right: 5px;
    vertical-align: middle;
}
li > h5{
    color: var(--color-disc-button-color);
    font-size: 1em;
}
.footer-list > li {
    padding: 7px 0;
}
.container.space-b-flex-footer{
    border-bottom: 1px solid var(--color-disc-button-color);
}
footer > div.container.end-of-page{
    padding-top: 20px;
    border-bottom: transparent;
}